#root {
  max-width: 1559px;
  margin: 0 auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  font-size: 20px;
  z-index: 1000;
}

.header-logo {
  width: 50px;
  height: 50px;
}

.header-github {
  display: flex;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.github-link {
  text-decoration: none; /* Quita el subrayado */
  color: inherit; /* Usa el color del padre */
  outline: none; /* Evita el borde al hacer focus */
}

.github-link:focus,
.github-link:active,
.github-link:visited {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 1000;
  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
  }
}

.content-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  z-index: 1000;
  h2 {
    font-size: 50px;
    font-weight: 600;
  }
  p {
    display: flex;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-left: 10vh;
  }
}

h1,
h2,
p {
  margin: 0;
}

.svg-circle1 {
  position: absolute;
  top: -80px;
  left: 40px;
  width: 250px;
  height: 250px;
  /* z-index: 1000; Asegura que esté sobre otros elementos */
}

.svg-circle2 {
  position: absolute;
  top: 300px;
  right: 280px;
  width: 250px;
  height: 250px;
  /* z-index: 1000; Asegura que esté sobre otros elementos */
}

.svg-lines {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* z-index: 1000; Se mantiene sobre otros elementos */
}

.svg-SquigglyLineTop {
  position: absolute;
  top: -120px;
  right: 150px;
  width: 450px;
  height: 450px;
  /* z-index: 1000; Asegura que esté sobre otros elementos */
}

.svg-SquigglyLineBottom {
  position: absolute;
  top: 340px;
  left: -20px;
  width: 750px;
  height: 350px;
  /* z-index: 1000; Asegura que esté sobre otros elementos */
}

.formDesktop {
  position: relative;
  z-index: 1000;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.drag-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.ant-form-item-label > label {
  color: white !important;
  font-family: "Inconsolata", monospace !important;
  font-weight: 600 !important;
}

.custom-modal .ant-modal-content {
  font-family: "Inconsolata", monospace;
  background-image: url("../assets/images/background-desktop.png");
  background-size: cover;
  background-position: center;
  color: white;
  border: 3px solid white;
  border-radius: 10px;
}

.custom-modal .ant-modal-close {
  color: white;
  font-size: 20px;
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #ff6a00,
    #ee0979
  ); /* Colores del gradiente */
  -webkit-background-clip: text; /* Aplica el fondo SOLO al texto */
  -webkit-text-fill-color: transparent; /* Hace el texto visible con el gradiente */
  display: inline-block;
}

.ticket-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
}

.ticket-header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 60px;
    font-weight: 600;
  }
}

.ticket-container {
  position: relative;
  width: 500px;
  max-width: 100%;
  padding-top: 30px;
}

.ticket-svg {
  width: 100%;
  display: block;
}

.ticket-content {
  position: absolute;
  top: 40%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: white;
  padding-top: 10vh;
}

.ticket-header {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 22px;
  gap: 6px;
}

.ticket-message {
  display: flex;
  padding-left: 6vh;
}

.logo {
  width: 35px;
}

.ticket-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-top: 7vh;
  gap: 1em;
  align-items: center;
}

.ticket-info {
  display: flex;
  flex-direction: column;
}

.user-image {
  width: 90px;
  height: 90px;
  border-radius: 8%;
  object-fit: cover;
  border: 1px solid white;
}

.user-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.user-email {
  font-size: 14px;
  opacity: 0.8;
  margin: 0;
}

.ticket-number {
  position: absolute;
  top: 60%;
  right: -25%;
  transform: translate(-50%, -50%) rotate(-270deg);
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  #root {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 2px;
  }
  .main {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    h1 {
      font-size: 30px;
    }
  }

  .header-logo {
    width: 30px;
    height: 30px;
  }

  .header-github {
    position: static;
    transform: none;
  }

  .content {
    padding-top: 20px;
    padding: 4px;
    h2 {
      font-size: 25px;
      text-align: center;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
  }
  .svg-circle1,
  .svg-circle2,
  .svg-lines,
  .svg-SquigglyLineTop,
  .svg-SquigglyLineBottom {
    display: none;
  }

  .form-label {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .ticket-container {
    width: 99%;
  }

  .ticket-content {
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 93%;
    /* padding-top: 5vh; */
    /* text-align: center; */
  }

  .ticket-header {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 22px;
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .logo {
    width: 30px;
  }

  .ticket-message {
    display: flex;
    padding-left: 6vh;
    p {
      font-size: 12px;
    }
  }

  .ticket-number {
    position: absolute;
    /* top: 50%; */
    right: -15%;
    transform: translate(-50%, -50%) rotate(-270deg);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
  }

  .ticket-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 7vh;
    gap: 1em;
    align-items: center;
    padding-top: 2vh;
  }

  .ticket-info {
    display: flex;
    flex-direction: column;
  }

  .user-image {
    width: 70px;
    height: 70px;
    border-radius: 8%;
    object-fit: cover;
    border: 1px solid white;
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .user-email {
    font-size: 14px;
    opacity: 0.8;
    margin: 0;
  }
}
