#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 20px;

  h1 {
    font-weight: 800;
  }
}

.content {
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 30px;
    font-weight: 600;
  }
}

.drag-text {
  display: flex;
  flex-direction: column;
  color: white;
}

.ant-form-item-label > label {
  color: white !important;
  font-family: "Inconsolata", monospace !important;
  font-weight: 600 !important;
}
