@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;700;800&display=swap");

:root {
  font-family: "Inconsolata", monospace;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("../assets/images/background-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: white !important; */
    --text-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 375px;
  min-height: 100vh;
  color: var(--text-color);
}
